<div class="row">
        <div class="col-md-6">
    <a routerLink="/" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i>  Back</a>
    </div>       
    <div class="col-md-6npm">
                <h2>Add New Product</h2>
            </div>
</div>
<div class="card">
    <div class="card-header">Add New Product</div>
    <div class="card-block">
        <form id = "formNewProduct" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "addNewProduct(productData.value)">
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" id = "name" name ="name" class="form-control" Placeholder = "Product Name" ngModel required>
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input type="text"  id = "color" name ="color" class="form-control"  placeholder = "Product Color" ngModel required>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Add Product">
        </form>
    </div>
</div>

<br>
<h3 *ngIf = "isAdded" >{{confirmationString}}</h3>